In [1]:
import glob
import pandas as pd
import numpy as np
import string

In [2]:
file = "superfund_sites.csv"
read_file = pd.read_csv(file, encoding='latin1')
sf_sites_df = pd.DataFrame(read_file)

In [3]:
sf_sites_df.head()

,Region,City,County,State,Zip Code,Site Name
0,1,FAIRHAVEN,BRISTOL,Massachusetts,2719,ATLAS TACK CORP.
1,1,LONDONDERRY,ROCKINGHAM,New Hampshire,3053,AUBURN ROAD LANDFILL
2,1,HOLBROOK,NORFOLK,Massachusetts,2343,BAIRD & MCGUIRE
3,1,BARKHAMSTED,LITCHFIELD,Connecticut,6063,BARKHAMSTED-NEW HARTFORD LANDFILL
4,1,BEACON FALLS,NEW HAVEN,Connecticut,6403,BEACON HEIGHTS LANDFILL

In [15]:
sf_sites_alpha = sf_sites_df.sort_values(by="State")
sf_sites_alpha.head()

,Region,City,County,State,Zip Code,Site Name
885,4,AXIS,MOBILE,Alabama,36505,STAUFFER CHEMICAL CO. (LEMOYNE PLANT)
884,4,BUCKS,MOBILE,Alabama,36512,STAUFFER CHEMICAL CO. (COLD CREEK PLANT)
644,4,BIRMINGHAM,JEFFERSON,Alabama,35207,35TH AVENUE
653,4,CHILDERSBURG,TALLADEGA,Alabama,35044,ALABAMA ARMY AMMUNITION PLANT
654,4,VINCENT,SHELBY,Alabama,35178,"ALABAMA PLATING COMPANY, INC."

In [21]:
superfund_sites_freq = sf_sites_alpha['State'].value_counts()

In [23]:
superfund_sites_freq.head()

New Jersey      150
Pennsylvania    127
New York        120
California      114
Florida          92
Name: State, dtype: int64

In [28]:
superfund_sites_freq

New Jersey                        150
Pennsylvania                      127
New York                          120
California                        114
Florida                            92
Michigan                           89
Illinois                           69
Washington                         69
Texas                              69
Wisconsin                          55
Ohio                               54
Indiana                            53
Minnesota                          47
North Carolina                     46
Massachusetts                      40
Missouri                           39
South Carolina                     36
Virginia                           35
Tennessee                          29
Louisiana                          28
Puerto Rico                        25
Maryland                           25
Utah                               25
Colorado                           24
Iowa                               24
Delaware                           23
Georgia                            22
New Hampshire                      22
New Mexico                         20
Kentucky                           20
Oregon                             19
Connecticut                        18
Alabama                            18
Kansas                             18
Montana                            18
Nebraska                           18
Arkansas                           17
Oklahoma                           16
Maine                              16
Mississippi                        14
Arizona                            14
Vermont                            14
West Virginia                      13
Rhode Island                       13
Idaho                              12
Alaska                             10
Hawaii                              4
South Dakota                        4
Wyoming                             3
Nevada                              3
Virgin Islands of the U.S.          2
North Dakota                        2
Guam                                2
American Samoa                      1
Federated States of Micronesia      1
Northern Mariana Islands            1
District of Columbia                1
Name: State, dtype: int64

In [29]:
superfund_sites_freq.to_csv("Superfund_sites_totals.csv")