In [25]:
import glob
import pandas as pd
import numpy as np
import string

file = "superfund_sites.csv"

In [26]:
print("Processing: " + str(file))
read_file = pd.read_csv(file, encoding='latin1')
superfund_df = pd.DataFrame(read_file)

superfund_df.head()

Processing: superfund_sites.csv

,Region,City,County,State,Zip Code,Site Name
0,1,FAIRHAVEN,BRISTOL,Massachusetts,2719,ATLAS TACK CORP.
1,1,LONDONDERRY,ROCKINGHAM,New Hampshire,3053,AUBURN ROAD LANDFILL
2,1,HOLBROOK,NORFOLK,Massachusetts,2343,BAIRD & MCGUIRE
3,1,BARKHAMSTED,LITCHFIELD,Connecticut,6063,BARKHAMSTED-NEW HARTFORD LANDFILL
4,1,BEACON FALLS,NEW HAVEN,Connecticut,6403,BEACON HEIGHTS LANDFILL

In [ ]:
# Add API connection

# Lookup Zipcode and determine county

# Find latitude and lng of county